ENVIRONMENT=L'environnement de l'application (LOCAL, PRODUCTION, etc.)

DATABASE_USER=L'utilisateur de la base de données

DATABASE_PILOT=Le pilote de la base de données (asyncpg, psycopg2, etc.)

DATABASE_TYPE=Le type de la base de données (postgresql, mysql, sqlite, etc.)

DATABASE_PASSWORD=Le mot de passe de la base de données

DATABASE_HOST=L'hôte de la base de données (adresse IP ou nom de domaine avec port)

DATABASE_NAME=Le nom de la base de données

SECRET_KEY=La clé secrète pour l'application web

API_PORT=Le port sur lequel l'API écoute (par défaut 8000)

BD_OUTPUT_PORT =Le port de sortie de la base de données (optionnel en production)

REDIS_CACHE_PORT=Le port de Redis pour le cache (optionnel en production)

REDIS_URL=L'URL de Redis (Vu du conteneur docker)

MINIO_ROOT_USER=Le nom d'utilisateur root pour MinIO (optionnel en production)

MINIO_ROOT_PASSWORD=Le mot de passe root pour MinIO (optionnel en production)

MINIO_API_PORT=Le port pour MinIO (optionnel en production)

MINIO_CONSOLE_PORT=Le port pour la console MinIO (optionnel en production)

FLOWER_PORT=Le port pour Flower (optionnel en production)

NGINX_PORT=Le port pour Nginx

JWT_EXPIRES_MINUTES=Le temps (en minuite) de durée du JwT. Je vous Conseille de mettre 15min pour notre projet

ALGORITHM=Algorithm de hashage du JWT. Conseillé d'utiliser le HS256 pour le projet

START_PERIOD=Le temps d'attende et de check du health du conteneur docker. Chez vous il ya une valeur par défaut de 10s