ENVIRONMENT=L'environnement de l'application (LOCAL, PRODUCTION, etc.)

DATABASE_USER=L'utilisateur de la base de données

DATABASE_PILOT=Le pilote de la base de données (asyncpg, psycopg2, etc.)

DATABASE_TYPE=Le type de la base de données (postgresql, mysql, sqlite, etc.)

DATABASE_PASSWORD=Le mot de passe de la base de données

DATABASE_HOST=L'hôte de la base de données (adresse IP ou nom de domaine avec port)

DATABASE_NAME=Le nom de la base de données

SECRET_KEY=La clé secrète pour l'application web


API_PORT=Le port sur lequel l'API écoute (par défaut 8000)

BD_OUTPUT_PORT =Le port de sortie de la base de données (optionnel en production)

